@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sedgwick Ave Display";
  src: url("/fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ========== CUSTOM STYLES ========== */
/* Styles that React does not support (e.g., in-line pseudo styles) */
/* Styles that Tailwind does not support by default (prefer keeping tailwind.config.ts stock) */
.button-73 {
  box-shadow: #adcfff 0 -12px 6px inset;
}

.button-73:hover {
  box-shadow: #ff6314 0 -6px 8px inset;
}
